.btn-info {
  background-color: #1b6ca8;
  border-color: #1b6ca8;
  color: #fff;
  margin: 0 0.5rem;
}

.btn-primary {
  background-color: #1b6ca8;
  border-color: #1b6ca8;
  color: #fff;
  margin: 0 0.5rem;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
  margin: 0 0.5rem;
}

.products-table td {
  width: 100px;
}
